name: Build Latest Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  packages: write

concurrency:
  group: "latest"

jobs:
  docker_build_and_publish_github:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PAT }}

      # Get the most recent release from chia-blockchain and build that
      - uses: actions/github-script@v7
        id: 'latest-tag'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          result-encoding: string
          script: |
            const release = await github.rest.repos.getLatestRelease({
              owner: 'Chia-Network',
              repo: 'chia-blockchain',
            });
            return release.data.tag_name;

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/chia-network/chia
            chianetwork/chia-docker
          tags: |
            type=raw,value=latest
            type=raw,value=${{ steps.latest-tag.outputs.result }}

      - name: Build docker image and push to github packages
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          no-cache: true
          push: true
          build-args: |
            "BRANCH=${{ steps.latest-tag.outputs.result }}"
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - uses: Chia-Network/actions/github/glue@main
        with:
          json_data: '{"chia_ref":"${{ steps.latest-tag.outputs.result }}"}'
          glue_url: ${{ secrets.GLUE_API_URL }}
          glue_project: "docker-new-release"
          glue_path: "trigger"
